.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
}

Link{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .header{
        display: none;
    }
}